body
{
    height: 100vh; 
    width: 100vw;
    background-color: #1e1e2e;
    margin: 0rem;
    overflow: hidden;
    text-align: center;
    color: #cdd6f4';
    
    
}

h1{
    
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;


}

#image-track {
    display: flex;
    gap: 5vmin;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
}

#image-track > .image {
    width: 60vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

/* Add a black background color to the top navigation
.topnav {
    background-color: #333;
    overflow: hidden;
} */

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #98abd436;
  color: black;
}

/* Add a color to the active/current link
.topnav a.active {
  background-color: #2c4b5a79;
  color: white;
} */

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.profile{
   width: 60vmin;
   height: 56vmin;
}