/* body
{
    height: 100vh; 
    width: 100vw;
    background-color: #1e1e2e;
    margin: 0rem;
    overflow: hidden;
    text-align: center;
    color: #cdd6f4';
    
    
} */
 body {
    min-height: 100vh;
    width: 100vw;
    background-color: #1e1e2e;
    margin: 0;
    color: #cdd6f4;
    font-family: "Roboto", sans-serif;
}


h1{
    
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;


}

#image-track {
    display: flex;
    gap: 5vmin;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
}

#image-track > .image {
    width: 60vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

/* homepage welcome text */
.welcome {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #98abd436;
  color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.topnav::after {
    content: "";
    display: block;
    clear: both;
}


.profile {
    float: left;
    margin-right: 20px;
    margin-top: 10px; /* Push image down from nav bar */
    overflow:hidden   
}

.content {
    margin-top: 40px; /* below navbar */
    padding: 40px;
}

.profile-image {
    float: left;
    width: 350px;
    height: auto;
    margin-right: 40px;
    border-radius: 10px;
}

.contact-text {
    font-size: 18px;
    line-height: 1.6;
}

/* Clear floats */
.content::after {
    content: "";
    display: block;
    clear: both;
}

